<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>Therapy On Demand</title>
  <base href="/">

  <meta name="google-site-verification" content="EOLG1XgGYT9EokbyN4sDCOO9mZdYO41UefBajhdpAmg" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/jpeg" href="./assets/img/favicon.jpg">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/css/material-dashboard.css?v=2.0.0"> 
  <link rel="stylesheet" href="/assets/css/css-loader.css"> 
  <!-- Documentation extras -->
</head>
<body>

<div class="page-header header-filter" filter-color="purple">

    <div class="container" >
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Payment Confirmation</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>HeLLo</td>
                                <td>Hello</td>
                            </tr>
                        </tbody>
                    </table>
                    <form action='/payment/charge' method='post'>
                        <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_6m4AIOd0mctomWqgenEbSCKB"
                            data-amount="<%=amount%>"
                            data-name="Theraoy On Demand"
                            data-description="Book your Massage"
                            data-locale="auto"
                            data-currency="usd"
                        >
                        </script>
                        <input type="hidden" name="amount" value="<%=amount%>"/>
                        <input type="hidden" name="paymentId" value="<%=paymentId%>"/>
                        <input type="hidden" name="code" value="<%=code%>"/>
                        <input type="hidden" name="mac" value="<%=mac%>"/>
                        <input type="hidden" name="id" value="<%=id%>"/>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/bootstrap-material-design.js"></script>
<script src="/assets/js/material-dashboard.js?v=2.0.0"></script>
</html>
